extend layouts/layout
block body
  - var bodyclass = 'header-on';
  body(class=bodyclass)
    include includes/header
    .jumbotron(style="background-image:url(img/company/jumbotron.jpg)")
      .jumbotron__overlay
        .jumbotron__contents.container
            h1.text-xxxxxl.mb-3.mt-sm-5.pt-sm-5.text-center
             | Company

    section.section.pt-4.pt-md-7
      .container
        .section__header.mb-3.mb-md-6
          .text-center
            .text-xxxxl Information
        .section__body
          .row.no-gutters.atos-list
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 会社名
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 〇〇株式会社
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 事業内容
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | テキスト、テキスト
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 設立
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 2010年 1月
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 代表者
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 〇〇 〇〇
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 従業員
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 1500名
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 資本金
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 7,000,000
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | 本社
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 〒111-1111 東京都
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              div
                | TEL/FAX
            .col-12.col-md-4.p-1.p-md-2.dd.mb-2.mb-md-0
              div
                | 03-1111-1111 / 03-2222-2222
    section.section.pt-4.pt-md-7
      .container
        .section__header.mb-3.mb-md-6
          .text-center
            .text-xxxxl History
        .section__body
          .row.no-gutters.atos-list
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで
            .col-12.col-md-2.bg-gray-light-f8.p-1.p-md-2.dt
              | 2010年1月
            .col-12.col-md-10.p-1.p-md-2.dd.mb-2.mb-md-0
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーで

    section.section.py-4.py-md-7
      .container
        .section__header.mb-3.mb-md-5
          .text-center
            .text-xxxxl.mb-3 Access
            .text-xxl.lh-16
              | 〒111-1111 東京都
        .section__body
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7479754683745!2d139.74324421651644!3d35.65858048019946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1590458168190!5m2!1sja!2sjp" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


    include includes/footer
    include includes/js
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/common.js")
