// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "crezit";
$icons8-font-path: "../fonts";

$icons8-var-facebook----: "\f100";
$icons8-var-twitter-----: "\f101";
$icons8-var-twitter------2: "\f102";
$icons8-var--------: "\f103";
$icons8-var---------2: "\f104";
$icons8-var------: "\f105";
$icons8-var-youtube: "\f106";
$icons8-var-------: "\f107";
$icons8-var--------2: "\f108";
$icons8-var---------3: "\f109";
$icons8-var---------4: "\f10a";
$icons8-var---------5: "\f10b";
$icons8-var---: "\f10c";
$icons8-var----2: "\f10d";
$icons8-var----: "\f10e";
$icons8-var-----2: "\f10f";
$icons8-var-----3: "\f110";
$icons8-var-----4: "\f111";
$icons8-var-ok: "\f112";
$icons8-var-ok-2: "\f113";
$icons8-var----3: "\f114";
$icons8-var----4: "\f115";
$icons8-var-----: "\f116";
$icons8-var------2: "\f117";
$icons8-var--------3: "\f118";
$icons8-var--------4: "\f119";
$icons8-var-------2: "\f11a";
$icons8-var-------3: "\f11b";
