doctype transitional
html
  head
    title 
    meta(name="viewport", content="width=device-width")
    meta(name='format-detection', content='telephone=no')
    link(rel="stylesheet", href="./css/style.css")
    meta(charset="UTF-8")
  block body
    block footer

