.global-header-desktop.d-none.d-lg-block.py-2
  .row.align-items-center.justify-content-between.no-gutters.mx-5
    a.logo.text-xxl.font-weight-bold(href="/") CORPORATE
    nav.row
      a.d-block.px-3(href="about.html")
        | ABOUT
      a.d-block.px-3(href="service.html")
        | SERVICE
      a.d-block.px-3(href="gallery.html")
        | GALLERY
      a.d-block.px-3(href="company.html")
        | COMPANY
    a.btn.btn-black(href="contact.html") CONTACT US

.global-header.d-lg-none
  .position-relative.global-header-bar
    a.global-header-logo.font-weight-bold(href="/") CORPORATE
    button.global-header-burger#burger
      span.global-header-burger__icon
      span.global-header-burger__icon
      span.global-header-burger__icon
    .global-header-nav
      .global-header-nav__content
        nav
          a.d-block.px-3.text-white(href="about.html")
            | ABOUT
          a.d-block.px-3.text-white(href="service.html")
            | SERVICE
          a.d-block.px-3.text-white(href="gallery.html")
            | GALLERY
          a.d-block.px-3.text-white(href="company.html")
            | COMPANY
          a.d-block.px-3.text-white(href="contact.html")
            | CONTACT

